@page 
@model Administrators.Create
@{
    ViewData["Title"] = "Administrador";
    ViewData["Subtitle"] = "Cadastro de Administrador";
}

<header class="d-flex justify-content-between align-iten-center">
    <div>
        <h1 class="text-primary">@ViewData["Subtitle"]</h1>
    </div>
    <div>
        <a asp-page="/Administrators/Index" class="btn btn-secondary">Cancelar</a>
    </div>
</header>
<hr>

<div class="container m-3 p-5 col-12 col-md-10 col-lg-8">
    <form method="POST" action="" class="needs-validation" novalidate>
        <div class="row  mb-3 g-4">
            <div class="form-group col-12">
                <label asp-for="AdministratorModel.Nome" class="form-label"></label>
                <input asp-for="AdministratorModel.Nome" class="form-control" required>
                <span asp-validation-for="AdministratorModel.Nome" class="text-danger"></span>
                <div class="invalid-feedback">
                    Você deve informar o nome completo para continuar
                </div>
                <div class="valid-feedback">
                    nome informado corretamente
                </div>
            </div>
            <div class="col-12 col-md-7">
                <label asp-for="AdministratorModel.Carteira" class="form-label"></label>
                <input asp-for="AdministratorModel.Carteira" class="form-control" required>
                <span asp-validation-for="AdministratorModel.Carteira" class="text-danger"></span>
                <div class="invalid-feedback">
                    Você deve informar o endereço da carteira para continuar
                </div>
                <div class="valid-feedback">
                    Endereço informado corretamente
                </div>
            </div>
            <div class="col-12 col-md-5">
                <label asp-for="AdministratorModel.Cpf" class="form-label"></label>
                <input asp-for="AdministratorModel.Cpf" id="txtCPF" class="form-control"
                       required
                       onfocus="loadEventCPF()">
                <span asp-validation-for="AdministratorModel.Cpf" class="text-danger"></span>
                <div id="cpfStatusInvalid"
                     class="invalid-feedback">
                    O CPF deve estar informado em formato correto
                </div>
                <div id="cpfStatusValid"
                     class="valid-feedback">
                    CPF informado corretamente
                </div>
            </div>
            
            <div class="col-12 col-md-6">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
    @if (Model.HashTransaction.Length > 0)
    {
        <p>Operação realizada com sucesso.</p>
        <p>Código da transação: @Model.HashTransaction</p>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("Shared/ValidateFormPartial");};
    <script src="~/js/formatDocument.js"></script>
}