.vscode
.idea
bin
.vs/
WorkBlockApresentacao/appsettings.json
/.vs/WorkBlock/v17/.wsuo
/.vs/slnx.sqlite
WorkBlockApi/WorkBlockApi/appsettings.Development.json
WorkBlockApp/Versao2/WorkBlockApp/wwwroot/lib/
WorkBlockApp/Versao2/WorkBlockApp/appsettings.Development.json
WorkBlockApp/Versao2/WorkBlockApp/appsettings.json
WorkBlockApp/Versao2/WorkBlockApp/Properties/launchSettings.json
/WorkBlockApp/Versao2/WorkBlockApp/obj
