<!doctype html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
    <script src="/lib/bootstrap5/dist/js/bootstrap.bundle.min.js" defer asp-append-version="true"></script>
    <title>@ViewData["Title"] - WorkBlock</title>
</head>
<body>
<header>
    <partial name="Shared/NavMenuPartial"/>
</header>
<main>
    <div class="container mt-2">
        @RenderBody()
    </div>
</main>
<footer>
    
</footer>
    <script src="/lib/bootstrap5/dist/js/bootstrap.bundle.min.js" defer asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>