@page 
@model WorkBlockApp.Pages.Administrators.Index

@{
    var administrators = Model.Administrators;
    ViewData["Title"] = "Administradores";
    ViewData["Subtitle"] = "Lista de Administradores";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewData["Subtitle"]</h1>
    </div>
    <div>
        <a asp-page="/Administrators/Create" class="btn btn-primary">Cadastrar</a>
    </div>
</header>
<hr>

@if (administrators.Any())
{
    <table class="table table-striped tabela-produtos">
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var administrator in administrators)
        {
            <tr>
                <td>@administrator.Nome</td>
                <td>@administrator.Cpf</td>
                <td>
                    @if(@administrator.Ativo == 1)
                    {
                        <span class="badge bg-success">Ativo</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Inativo</span>
                    }
                </td>
                <td>
                    <a asp-page="/Administrators/Update" asp-route-id="@administrator.Carteira" class="btn btn-secondary btn-sm">Alterar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum produto cadastrado.</p>
}