@page
@model Employees.Update
@{
    ViewData["Title"] = "Editar";
    ViewData["Subtitle"] = "Atualização de Colaborador";
}

<header class="d-flex justify-content-between align-iten-center">
    <div>
        <h1 class="text-primary">@ViewData["Subtitle"]</h1>
    </div>
    <div>
        <a asp-page="/Employees/Index" class="btn btn-secondary">Cancelar</a>
    </div>
</header>
<hr>

<div class="container m-3 p-5 col-12 col-md-10 col-lg-8">
    <form method="POST" action="" class="needs-validation" novalidate>
        <div class="row  mb-3 g-4">
            <div class="form-group col-12">
                <label asp-for="EmployeeUpdateModel.Nome" class="form-label"></label>
                <input asp-for="EmployeeUpdateModel.Nome" class="form-control" required>
                <span asp-validation-for="EmployeeUpdateModel.Nome" class="text-danger"></span>
                <div class="invalid-feedback">
                    Você deve informar o nome completo para continuar
                </div>
                <div class="valid-feedback">
                    nome informado corretamente
                </div>
            </div>
            <div class="col-12 col-md-7">
                <label asp-for="EmployeeUpdateModel.Carteira" class="form-label"></label>
                <input asp-for="EmployeeUpdateModel.Carteira" class="form-control" required readonly>
                <span asp-validation-for="EmployeeUpdateModel.Carteira" class="text-danger"></span>
                <div class="invalid-feedback">
                    Você deve informar o endereço da carteira para continuar
                </div>
                <div class="valid-feedback">
                    Endereço informado corretamente
                </div>
            </div>
            <div class="col-12 col-md-5">
                <label asp-for="EmployeeUpdateModel.Pis" class="form-label"></label>
                <input asp-for="EmployeeUpdateModel.Pis" id="txtPIS" class="form-control" required
                    onfocus="loadEventPIS()"
                    value="@Util.FormatPIS.Format(Model.EmployeeUpdateModel.Pis)">
                <span asp-validation-for="EmployeeUpdateModel.Pis" class="text-danger"></span>
                <div id="cnpjStatusInvalid" class="invalid-feedback">
                    O PIS deve estar informado em formato correto
                </div>
                <div id="cnpjStatusValid" class="valid-feedback">
                    PIS informado corretamente
                </div>
            </div>
            <div class="col-12 col-md-7">
                <label asp-for="EmployeeUpdateModel.NovaCarteira" class="form-label"></label>
                <input asp-for="EmployeeUpdateModel.NovaCarteira" class="form-control" required
                    value="@Model.EmployeeUpdateModel.Carteira">
                <span asp-validation-for="EmployeeUpdateModel.NovaCarteira" class="text-danger"></span>
                <div class="invalid-feedback">
                    Você deve informar o novo endereço da carteira para continuar
                </div>
                <div class="valid-feedback">
                    Endereço informado corretamente
                </div>
            </div>
            <div class="col-12 col-md-7 d-flex justify-content-between">
                <div class="col-4">
                    <label asp-for="EmployeeUpdateModel.InicioJornada" class="form-label"></label>
                    <input type="time" asp-for="EmployeeUpdateModel.InicioJornada" class="form-control" required>
                    <span asp-validation-for="EmployeeUpdateModel.InicioJornada" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Você deve informar o início da jornada para continuar
                    </div>
                    <div class="valid-feedback">
                        Início de jornada informado corretamente
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="EmployeeUpdateModel.FimJornada" class="form-label"></label>
                    <input type="time" asp-for="EmployeeUpdateModel.FimJornada" class="form-control" required>
                    <span asp-validation-for="EmployeeUpdateModel.FimJornada" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Você deve informar o fim da jornada para continuar
                    </div>
                    <div class="valid-feedback">
                        Fim de jornada informado corretamente
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <label for="EmployeeUpdateModel.Ativo" class="form-label">Estado</label><br>
                @if(Model.EmployeeUpdateModel.Ativo == 1)
                {
                    <input type="checkbox" id="Ativo" name="EmployeeUpdateModel.Ativo" class="form-check-input" value="1" checked />
                    <label asp-for="EmployeeUpdateModel.Ativo" class="form-label"></label>
                }
                else
                {
                    <input type="checkbox" id="Ativo" name="EmployeeUpdateModel.Ativo" class="form-check-input" value="1" />
                    <label asp-for="EmployeeUpdateModel.Ativo" class="form-label"></label>
                }
                <span asp-validation-for="EmployeeUpdateModel.Ativo" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-7">
                <label asp-for="EmployeeUpdateModel.Empregador" class="form-label"></label>
                <input asp-for="EmployeeUpdateModel.Empregador" class="form-control" required>
                <span asp-validation-for="EmployeeUpdateModel.Empregador" class="text-danger"></span>
                <div class="invalid-feedback">
                    Você deve informar o endereço da carteira do empregador para continuar
                </div>
                <div class="valid-feedback">
                    Carteira do empregador informado corretamente
                </div>
            </div>

            <div class="col-12 col-md-6">
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
        </div>
    </form>
    @if (Model.HashTransaction.Length > 0)
    {
        <p>Operação realizada com sucesso.</p>
        <p>Código da transação: @Model.HashTransaction</p>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("Shared/ValidateFormPartial");
    };
    <script src="~/js/formatDocument.js"></script>

    <script type="text/javascript">

        function loadEventPIS() {
            const inputCPF = document.getElementById("txtPIS");
            inputCPF.addEventListener("keyup", formatarPIS);
        }

        function formatarPIS(e) {
            let v = e.target.value.replace(/\D/g, "");
            v = v.replace(/(\d{3})(\d)/, "$1.$2");
            v = v.replace(/(\d{5})(\d)/, "$1.$2");
            v = v.replace(/(\d{2})(\d{1,2})$/, "$1-$2");
            e.target.value = v;
        }

    </script>
}